
*{
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: 400;
    cursor: default;
}

body{
    background-image: url(./assets/images/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main #title{
    text-align: center;
    color: #2d3436;
}

#score{
    display: flex;
    align-items: center;
    justify-content: center;

    
}

#player h2, #computer h2{
    margin: 0;
    padding: 0;
}

#player, #computer{
    position: relative;
    flex-grow: 1;

    border-radius: 5px;
    padding: 20px;

    color: #fff;
}

#player{
    background-color: #ff7675;
    
}

#player__name, #computer__name{
    font-size: 24px;
}

#player__points, #computer__points{
    position: absolute;
    top: 8px;
    font-size: 52px;
}

#player__points{
    right: 20px;
}

#player > #player__choice, #computer > #computer__choice{
    list-style: none;
    text-align: center;
    margin: 20 0 0;
    padding: 0;
}

#player  #player__choice  li, #computer  #computer__choice  li {
    display: inline;
    padding: 0 15px;
    
}

#player  #player__choice  a, #computer  #computer__choice  a{
    opacity: .2;
}

#player  #player__choice  a:hover,
#player  #player__choice  a.selected, #computer  #computer__choice  a.selected {
    opacity: 1;
}

#player #player__choice img, #computer #computer__choice img {
    max-width: 80px;
}

#computer__name{
    text-align: right;
}

#versus{
    font-size: 50px;
    padding: 0 40px;
}

#computer{
    background-color: #3498db;
   

}

#message{
    background-color: #663e72;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

